Package: com.trizau.sileo.vcam
Name: VCAM - Virtual Camera
Version: 1.0.0
Architecture: iphoneos-arm
Description: Thay thế camera thật bằng video tùy chọn, hỗ trợ âm thanh và iOS 15+
Maintainer: trizau
Author: trizau
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
Icon: https://raw.githubusercontent.com/trizau/iOS-VCAM/master/icon.png
