Package: com.trizau.vcamtest
Name: VCAM Test - Hello World
Version: 1.0.5
Architecture: iphoneos-arm
Priority: optional
Section: Tweaks
Depends: mobilesubstrate
Maintainer: beichen100
Author: beichen100
Description: Minimal tweak for iOS 14.6, prints Hello World
