Package: com.trizau.sileo.vcam
Name: VCAM Test - Hello World
Version: 1.0.4
Architecture: iphoneos-arm
Description: Test build for iOS 14.6 compatibility (Hello World version)
Maintainer: beichen100
Author: beichen100
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
